<!-- About Section -->

<section id="about" class="container content-section text-center">
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About Anna</h2>
                    <div class="lead">
                        👋 ᎣᏏᏲ! I'm a sophomore at Stanford studying computer science with a background in
                        programming and
                        analytical techniques, which I've leveraged across a wide variety of disciplines, from diabetes
                        management to immunology to risk analysis. I care about creating accessible tools that have a
                        positive social impact, and am fascinated by new ways to use technology to solve problems in
                        medicine and research. I'm also passionate about improving Indigenous and female representation in STEM
                        fields, serving as the president of Stanford's chapter of the American Indian Science and
                        Engineering Society and a community member of NCWIT. My other interests include backpacking, long-distance running, and
                        photography. </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/about.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>